.App {
  text-align: center;
  justify-content: center;
}
body {
  background-image: url("../src/assets/background-landing.jpg");
  background-attachment: scroll;
  background-size: cover;
  margin: 0;

  font-family: 'Righteous';
}
